  
    h1 {
        text-align: center;
        font-size: 32px;
    }

    .intel{
        color: #0068b5;
        font-weight: bold;
    }

    .amd{
        color: #f26522;
        font-weight: bold;
    }
